html,
body {
  margin: 0;
  padding: 0;
  background: hsla(0, 0%, 100%, 0.736);
  color: #000;
  font-family: "Roboto Slab";
}

.nav-link {
  font-weight: 350;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px 20px;
  border-radius: 55px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.MuiOutlinedInput-input,
.MuiOutlinedInput-notchedOutline {
  border-color: #000 !important;
}
